.signup-container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
}

.signup-left {
  width: 50%;
  height: 100%;
  background-color: #252526;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-left img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.signup-left h1 {
  font-size: 36px;
}

.signup-left p {
  font-size: 18px;
  margin-top: 20px;
}

.signup-right {
  height: 100vh;
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-right form {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.signup-right h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.signup-right .name-fields {
  display: flex;
  gap: 10px;
}

.signup-right input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.signup-right button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.authentic {
  display: flex;
  margin: 10px 0px 30px 0px;
}

.authentic input {
  width: 20px;
  height: 20px;
  margin-top: 0px;
  margin-right: 10px;
}

.signup-right button:hover {
  background-color: #0056b3;
}

.signup-right .social-signup {
  text-align: center;
  margin-top: 10px;
  width: 400px;
}
.social-signup {
  display: flex;
  justify-content: space-between;
}

.social-signup button {
  width: 190px;
}

.google-btn,
.facebook-btn {
  width: 10px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.google-btn {
  background-color: #f2a095;
  color: white;
}

.facebook-btn {
  background-color: #a0b3dc;
  color: white;
}

.google-btn:hover {
  background-color: #c23321;
}

.facebook-btn:hover {
  background-color: #2d4373;
}

.alertError {
  color: red;
  font-size: 12px;
  height: 15px;
}

.login {
  margin-top: 15px;
}

.login a {
  font-weight: bold;
}

@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
    align-items: center;
  }

  .signup-left,
  .signup-right {
    width: 100%;
    padding: 1rem;
  }

  .signup-left {
    display: none;
  }

  .signup-right {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .signup-right {
    padding: 1rem;
  }

  .title-register {
    font-size: 20px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  button[type="submit"] {
    padding: 10px;
  }

  .social-signup {
    flex-direction: column;
    align-items: center;
  }

  .google-btn,
  .facebook-btn {
    width: 80%;
    margin-bottom: 10px;
  }

  .signup-right .name-fields {
    flex-direction: column;
  }

  .signup-right .name-fields div {
    width: 100%;
  }
}
